<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyoomi.multipledatasource.mybatis.hikari.dao.ds2.GoodMapper">

    <select id="findById" resultType="com.gyoomi.multipledatasource.mybatis.hikari.model.Good">
     select * from t_good where id = #{id}
    </select>
</mapper>