<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gyoomi.mybatis.defaults.dao.UserMapper">

    <select id="findById" resultType="com.gyoomi.mybatis.defaults.model.User">
     select * from t_user where id = #{id}
    </select>
</mapper>